<div class="ligne">
    <label for="urlImageSaisie">Saisir l'url de l'image</label>
    <input [(ngModel)]="urlImageSaisie"
        placeholder="Ex:https://www.voyagejapon.com/cdn/jp-public/takoyaki_1-MAX-w1000h600.jpg">
    <div class="button" (click)="onClickAjouterImage()">Ajouter image </div>

    <label>Catégorie</label>
    <select [(ngModel)]="categorieSelectionne">
        @for(categorie of categories; track $index){
        <option value="{{$index}}">{{categorie.titre}}</option>
        }
    </select>

</div>
<div class="ligne">
    <label for="urlImageSaisie">Nouvelle Catégorie</label>
    <input [(ngModel)]="nomCategorieSaisie" placeholder="Nouvelle Catégorie">
    <div class="button" (click)="onClickAjouterCategorie()">Ajouter Nouvelle Catégorie</div>


</div>

<div class="categories">

    @for(categorie of categories; track indexCategorie;let indexCategorie = $index){

    <div class="categorie">
        <div class="en-tete"><span>{{categorie.titre}}</span>
            <div class="container_entete">
                <div class="bouton bouton-supprimer"><i class="ri-delete-bin-5-line"
                        (click)="supprimerCategorie(indexCategorie)"></i></div>
            </div>
        </div>

        @for(image of categorie.images; track indexImage;let indexImage = $index){

        <div class="image">
            @if(indexCategorie !== 0){

            <div class="bouton bouton-plus"><i class="ri-arrow-up-line"
                    (click)="deplacerImage(indexCategorie, indexImage,false)"></i></div>
            }
            @if(indexCategorie !== categories.length - 1){

            <div class="bouton bouton-moins"><i class="ri-arrow-down-line"
                    (click)="deplacerImage(indexCategorie, indexImage)"></i>
            </div>
            }

            <div class="bouton bouton-supprimer"><i class="ri-delete-bin-5-line"
                    (click)="supprimerImage(indexCategorie, indexImage)"></i>
            </div>




            <img src="{{image}}">

        </div>
        }

    </div>

    }

</div>