 .ligne {
     display: flex;
     margin: 1em 0;
     gap: 1em;
     align-items: center;

     input {
         min-width: 200px;
         max-width: 400px;
         width: 100%;
     }

     .bouton {
         background-color: blue;
         color: white;
         padding: 0.5em;
         border-radius: 5px;
         user-select: none;
         cursor: pointer;
         width: fit-content;

         &:hover {
             background-color: rgb(54, 23, 190, 0.583);
         }
     }
 }


 .categories {

     :nth-child(1) .en-tete {
         background-color: red;
     }

     :nth-child(2) .en-tete {
         background-color: rgb(255, 136, 0);
     }

     :nth-child(3) .en-tete {
         background-color: gold;
     }

     :nth-child(4) .en-tete {
         background-color: green;
     }

     :nth-child(5) .en-tete {
         background-color: aqua;
     }

     .en-tete {
         background-color: rgb(255, 0, 162);
     }


     .categorie {
         display: flex;
         height: 100px;


         .bouton {
             opacity: 0;
             border-radius: 10px;
             position: absolute;
             background-color: cornflowerblue;
             width: 20px;
             height: 20px;
             text-align: center;
             line-height: 17px;
             color: white;
             font-weight: bold;
             user-select: none;
             cursor: pointer;

             &:hover {
                 background-color: #4675c6;
             }

             &.bouton-plus {
                 top: 3px;
                 right: 3px;
             }

             &.bouton-moins {
                 bottom: 3px;
                 right: 3px;
             }

             &.bouton-supprimer {
                 top: 3px;
                 left: 3px;
                 background-color: red;
             }

             &:hover {
                 background-color: #b50404;
             }
         }

     }

     .image,
     .en-tete {
         width: 100px;
         height: 100px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         position: relative;

         &:hover .bouton {
             opacity: 1;
             transition: opacity 0.5s;
         }
     }

     .en-tete {
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: bold;
         font-size: 20px;
     }

     .image {


         img {
             width: inherit;
             height: inherit;
             object-fit: cover;
         }


     }
 }